.Board {
	margin: 0 auto;
	max-width: fit-content;
}

.Board-Title {
	margin: 50px;
	color: whitesmoke;
	font-family: fantasy, Georgia, Times, 'Times New Roman', serif;
	font-size: 5rem;
}

.Board-Game {
	padding: 0px;
	margin: 0 auto;
}

.Board-Win {
	margin: 50px;
	font-size: 4rem;
	font-family: fantasy, Georgia, Times, 'Times New Roman', serif;
	color: rgb(159, 189, 218);
}

.Board-Reset {
	margin: 50px;
	width: 100px;
	height: 40px;
	border-radius: 20px;
	background-color: thistle;
	box-shadow: 1px 1px 25px #7c7979;
	outline: none;
}

.Board-Reset:hover {
	background-color: rgb(159, 189, 218);
	box-shadow: 1px 2px 25px #a8a8a8, -1px -2px 20px #b7b7b7;
}

@media only screen and (max-width: 400px) {
	.Board-Title {
		font-size: 3.3rem;
	}

	.Board-Win {
		margin: 50px;
		font-size: 3rem;
		font-family: fantasy, Georgia, Times, 'Times New Roman', serif;
		color: rgb(159, 189, 218);
	}
}
