.Cell {
	height: 90px;
	width: 90px;
	background-color: rgb(42, 0, 71);
	cursor: pointer;
	border-radius: 7px;
	margin: 5px 5px;
}

.Cell-lit {
	background-color: rgb(221, 191, 221);
}

@media only screen and (max-width: 1050px) {
	.Cell {
		height: 80px;
		width: 80px;
	}
	.Cell-lit {
		background-color: rgb(221, 191, 221);
	}
}

/*  Phones */
@media only screen and (max-width: 400px) {
	.Cell {
		height: 60px;
		width: 60px;
	}
	.Cell-lit {
		background-color: rgb(221, 191, 221);
	}
}
